
<%= form_for @article ,html: {class: "form-horizontal"} do |f| %>
    <div class="form-group">
      <div class="col-sm-12 col-xs-12">
        <div class="col-sm-6">
          <label class="control-label col-sm-4" for="name">Title :</label>
          <div class="col-sm-8 col-xs-12">
            <%= f.text_field :title ,:placeholder => 'Title',class:"form-control"%>
          </div>
        </div>
        <div class="col-sm-6" >
          <label class="control-label col-sm-4" for="name">Sub Title:</label>
          <div class="col-sm-8 col-xs-12">
            <%= f.text_field :sub_title,:placeholder => 'Sub Title',class:"form-control"%>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12 col-xs-12">
        <div class="col-sm-6 col-xs-12">
          <label class="control-label col-sm-4" for="name">Article Type :</label>
          <div class="col-sm-8 col-xs-12">
            <%= f.collection_select(:section_id , Section.order("name asc"),:id,:name,{:include_blank => "Please Select Article Type" })%>
          </div>
          </div>
        <div class="col-sm-6 col-xs-12">
          <label class="control-label col-sm-4" for="name">Author :</label>
          <div class="col-sm-8 col-xs-12">
            <%= f.collection_select(:author_id , Author.order("firstname asc"),:id,:firstname,{:include_blank => "Please Select The Author" })%>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12 col-xs-12">
        <div class="col-sm-6">
          <label class="control-label col-sm-4" for="pwd">Categories :</label>
          <div class="col-sm-8 col-xs-12">
            <%#= f.text_field : ,class:"form-control"%>
            <%= raw custom_autocomplete("article[category_ids]", Category.all, "name", @article.categories) %>
           </div>
        </div>
        <div class="col-sm-6" >
          <label class="control-label col-sm-4" for="name">Publish Date :</label>
          <div class="col-sm-8 col-xs-12">
            <%#= f.datetime_select :expiry_date,class:"form-control"%>
            <%= f.text_field :publish_date, {:class => "form-control" ,:placeholder => 'Publish Date', id: 'display-date'} %>
            <div id="display-date-field"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12 col-xs-12">
        <div class="col-sm-6">
          <label class="control-label col-sm-4" for="pwd">Expiry Date :</label>
          <div class="col-sm-8 col-xs-12">
            <%= f.text_field :expiry_date, {:class => "form-control" ,:placeholder => 'Expiry Date', id: 'expiry-date'} %>
            <div id="expiry-date-field"></div>
            <%#= f.datetime_select :publish_date ,class:"form-control"%>
          </div>
        </div>
        <div class="col-sm-6" >
         <label class="control-label col-sm-4" for="name">Status :</label>
          <div class="col-sm-8 col-xs-12">
            <%#= f.text_field :expiry_date,class:"form-control"%>
            <label class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
       <%= f.text_area :description, class: "tinymce", :rows => 40, :cols => 120 %>
      </div>
    </div>
<% end %>


<script>
  $('#display-date-field').calendar({
    trigger: '#display-date',
    zIndex: 999,
    onSelected: function (view, date, data) {
      console.log('event: onSelected')
    },
    onClose: function (view, date, data) {
      console.log('event: onClose');
      console.log('view:' + view);
      console.log('date:' + date);
      console.log('data:' + (data || 'None'));
    }
  });



</script>