<div class="container">

    <%= form_for @category ,html: {class: "form-horizontal"} do |f| %>

      <div class="form-group">
      <% if @category.errors.any? %>
          <div class="alert alert-danger fade in col-sm-4">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <h6>
              <strong>Danger!</strong> <%= pluralize(@category.errors.count, "error") %> prohibited
              this article from being saved:
            </h6>
            <ul>
              <% @category.errors.full_messages.each do |msg| %>
                  <h6><li><%= msg %></li></h6>
              <% end %>
            </ul>
          </div>
      <% end %>
      </div>
    <div class="form-group">
      <div class="col-sm-12">
       <div class="col-sm-6">
     <label class="control-label col-sm-4" for="name">Name :</label>
      <div class="col-sm-8 col-xs-12">
        <%= f.text_field :name ,class:"form-control"%>
      </div>
    </div>
      <div class="col-sm-6" >
     <label class="control-label col-sm-4" for="name">Alias Name :</label>
      <div class="col-sm-8 col-xs-12">
        <%= f.text_field :alias_name,class:"form-control"%>
      </div>
       </div>
    </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <div class="col-sm-6">
          <label class="control-label col-sm-4" for="pwd">Parent Name :</label>
          <div class="col-sm-8 col-xs-12">
          <%= f.collection_select(:parent_id ,Category.all,:id,:alias_name,{:include_blank => "For Creating Subcategory" })%>
        </div>
          </div>
         <div class="col-sm-6" >
           <label class="control-label col-sm-4 " >Active :</label>
           <div class="col-sm-1 col-xs-12">
             <%= f.check_box :active , class:"check_box" %>
           </div>
          </div>
        </div>
      </div>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-10">
        <%= f.submit 'Submit', :class => "btn btn-default" %>
      </div>
    </div>
  <% end %>
</div>



