<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CrlArts</title>
    <%= csrf_meta_tags %>

    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
    <%= stylesheet_link_tag "template.css" %>
    <%= javascript_include_tag "jquery.nice-select.js" %>
    <%= stylesheet_link_tag "nice-select.css" %>
    <%= stylesheet_link_tag "token-input.css" %>
    <%= javascript_include_tag "jquery.tokeninput.js" %>
    <%= stylesheet_link_tag "calendar.css" %>
    <%= javascript_include_tag "calendar.js" %>


    <%#= stylesheet_link_tag "bootstrap.min.css" %>
  </head>

  <body>
  <div id="wrapper">
    <header>
      <div class="header-top col-md-12 col-sm-12 col-xs-12 no-padding">
        <div class="container no-padding">
          <div class="row no-margin">

            <div class="header-content col-md-12 col-sm-12 col-xs-12 no-padding">
              <div class="logo col-md-5 col-sm-5 col-xs-6 no-padding">
                <h2><a href=#nogo">CRL<span>ARTS</span></a></h2>
              </div><!--LOGO-->

              <div class="menucontainer col-md-7 col-sm-7 col-xs-6 no-padding">
                <nav class="navbar">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                      <ul class="nav navbar-nav">
                        <li class="active"><a href="#home">Home</a></li>
                        <li><a href="#container3">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a href="#contact">Articles</a></li>
                      </ul>
                    </div>
                  </div>
                </nav>
              </div><!--MENUCONTAINER-->
            </div><!--HEADER-CONTENT-->

          </div><!--ROW-->
        </div><!--CONTAINER-->
      </div><!--HEADER-TOP-->

      <div class="header-bottom col-md-12 col-sm-12 col-xs-12 no-padding" id="home">
        <div class="container no-padding">
          <div class="row no-margin">

            <div class="header-content col-md-12 col-sm-12 col-xs-12 no-padding">
              <div class="header-left col-md-12 col-sm-12 col-xs-12 no-padding">
                <h2>CRL<span>ARTS</span></h2>
                <h3>We create Memories that lasts for eternal love</h3>

                <!--<p>Lorem ipsum dolor st amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                  Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>

                <div class="download col-md-12 col-sm-12 col-xs-12 no-padding">
                  <a href="#nogo">Download</a>
                </div>-->

              </div><!--HEADER-LEFT-->

              <!--<div class="header-right col-md-4 col-sm-4 col-xs-12 no-padding">
                  <div class="trial-block col-md-12 col-sm-12 col-xs-12 no-padding">
                      <h4>Try your <span>FREE</span> Trial Today</h4>

                      <form role="form">
                          <div class="form-group">
                            <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="Name" placeholder="Name" >
                          </div><!--form-group-  #65a0a6 #54A0A4  ->
                          <div class="form-group">
                               <input type="email" class="form-control" data-toggle="tooltip" data-placement="bottom" title="Email"  placeholder="Email">
                          </div><!--form-group->
                          <div class="form-group">
                                <input type="password" class="form-control" data-toggle="tooltip" data-placement="bottom" title="Password"  placeholder="Password">
                          </div><!--form-group->
                    </form>

                    <div class="button_input col-md-12 col-sm-12 col-xs-12 no-padding">
                        <button type="submit">Get Started</button>
                    </div><!--BUTTON_INPUT->
                  </div><!--TRIAL-BLOCK->
              </div><!--HEADER-RIGHT-->
            </div><!--HEADER-CONTENT-->

          </div><!--ROW-->
        </div><!--CONTAINER-->
      </div><!--HEADER-BOTTOM-->

      <div class="social-block col-md-12 col-sm-12 col-xs-12 no-padding">
        <div class="container no-padding">
          <div class="row no-margin">
            <div class="social-left col-md-4 col-sm-4 col-xs-12 no-padding">
              <h4>Social Media</h4>

              <p>Just get in to say a hello, and support us in creating more happier memories.</p>
            </div><!--SOCIAL-LEFT-->

            <div class="social-right col-md-8 col-sm-8 col-xs-12 no-padding">
              <ul class="list-inline">
                <li><a href="https://www.facebook.com/thamilarts/" target="_blank"><span class="fa fa-facebook"></span></a></li>
                <li><a href="https://twitter.com/tamilcit" target="_blank"><span class="fa fa-twitter"></span></a></li>
                <li><a href="https://plus.google.com/u/0/105886780073477204210/photos"  target="_blank"><span class="fa fa-google-plus"></span></a></li>
                <!--<li><a href="#nogo"><span class="fa fa-pinterest-square"></span></a></li>-->
                <!--<li><a href="#nogo"><span class="fa fa-instagram"></span></a></li>-->
                <!--<li><a href="#nogo"><span class="fa fa-stumbleupon"></span></a></li>-->
                <!--<li><a href="#nogo"><span class="fa fa-rss"></span></a></li>-->
              </ul>
            </div><!--SOCIAL-RIGHT-->
          </div><!--ROW-->
        </div><!--CONTAINER-->
      </div><!--SOCIAL-BLOCK-->
    </header>
    <div class="article_block col-md-12 col-sm-12 col-xs-12 no-padding">
    <%= yield %>
    </div>
    <div class="product-block col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="container no-padding">
        <div class="row no-margin">

          <h3 class="under"><a href="#nogo">CONTACT US</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>

          <!--<div class="product-content col-md-12 col-sm-12 col-xs-12 no-padding">-->
          <!--<div class="product col-md-4 col-sm-4 col-xs-12 no-padding">-->
          <!--<div class="icon col-md-12 col-sm-12 col-xs-12 no-padding">-->
          <!--<span class="fa fa-lightbulb-o"></span>-->
          <!--</div>&lt;!&ndash;ICON&ndash;&gt;-->

          <!--<div class="text col-md-12 col-sm-12 col-xs-12 no-padding">-->
          <!--<h4>Thoughtful Design</h4>-->

          <!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.-->
          <!--Cum sociis natoque penatibus. </p>-->
          <!--</div>&lt;!&ndash;TEXT&ndash;&gt;-->
          <!--</div>&lt;!&ndash;PRODUCT&ndash;&gt;-->

          <!--<div class="product col-md-4 col-sm-4 col-xs-12 no-padding">-->
          <!--<div class="icon col-md-12 col-sm-12 col-xs-12 no-padding">-->
          <!--<span class="fa fa-keyboard-o"></span>-->
          <!--</div>&lt;!&ndash;ICON&ndash;&gt;-->

          <!--<div class="text col-md-12 col-sm-12 col-xs-12 no-padding">-->
          <!--<h4>Thoughtful Design</h4>-->

          <!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.-->
          <!--Cum sociis natoque penatibus. </p>-->
          <!--</div>&lt;!&ndash;TEXT&ndash;&gt;-->
          <!--</div>&lt;!&ndash;PRODUCT&ndash;&gt;-->

          <div class="col-sm-5" style="font-size:20px;    width: 100%;padding-top:30px">
            <p>Tamilarasan C</p>
            <p>Bangalore - 560 068</p>
            <p>Contact-no - 08553823081</p>
            <p>Email- tamizharasan.c123@gmail.com</p>
          </div>
        </div><!--PRODUCT-CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--PRODUCT-BLOCK-->
  <footer>
    <div class="container no-padding">
      <div class="row no-margin">
        <div class="footer-content col-md-12 col-sm-12 col-xs-12 no-padding">
          <ul class="list-inline">
            <li><a href="https://www.facebook.com/thamilarts/"  target="_blank"><span class="fa fa-facebook"></span></a></li>
            <li><a href="https://twitter.com/tamilcit" target="_blank"><span class="fa fa-twitter"></span></a></li>
            <li><a href="https://plus.google.com/u/0/105886780073477204210/photos"  target="_blank"><span class="fa fa-google-plus"></span></a></li>
            <!--<li><a href="#nogo"><span class="fa fa-pinterest-square"></span></a></li>-->
            <!--<li><a href="#nogo"><span class="fa fa-instagram"></span></a></li>-->
            <!--<li><a href="#nogo"><span class="fa fa-stumbleupon"></span></a></li>-->
            <!--<li><a href="#nogo"><span class="fa fa-rss"></span></a></li>-->
          </ul>

          <p>&copy; 2016 <span>Crlarts</span></p>
        </div><!--FOOTER-CONTENT-->
      </div><!--ROW-->
    </div><!--CONTAINER-->
  </footer>
  </div><!--WRAPPER-->


  </body>
  </html>

<script type="text/javascript">
  $(window).scroll(function(){
    t_Height = $('.header-top').height();

//    console.log(t_Height);

    s_Height = $(window).scrollTop();

    if(s_Height > t_Height)
    {
      $('.header-top').addClass('fixed-menu');
    }
    else{
      $('.header-top').removeClass('fixed-menu');
    }

  });

  function SetHomePage(){
    $('.header-bottom').css(({height:$(window).height()-180}));
  }


  $(document).ready(function() {
    $('select').niceSelect();
  });

  $(window).resize(function(){ SetHomePage(); });
  $(window).load(function(){ SetHomePage(); });
</script>
